
/*Start of stylesheet*/

/*================================
Google fonts used:
font-family: 'Oswald', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Lobster', cursive;
 @import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);
=================================*/
@import url(https://fonts.googleapis.com/css?family=Oswald|Ubuntu|Lobster);

body{
    font-family: 'Lobster', cursive;
}

h1 {
    font-family: 'Oswald', sans-serif;
}
h2{
    font-family: 'Ubuntu', sans-serif;
}

/*Form background*/
#form {
    background-image: url("http://assets.nydailynews.com/polopoly_fs/1.1066559!/img/httpImage/image.jpg_gen/derivatives/article_970/qline29f-1-web.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
